#footer {
    height: 345px;
    width: 100%;
    background: #333;
    color: #e5e5e5;
}

#footer a {
    color: #999;
}

#footer .row {
    padding: 75px 75px 0;
    box-sizing: border-box;
}

#footer ul {
    float: left;
    margin-right: 75px;
}

#footer .footer_l {
    float: left;
    position: relative;
}

#footer li:first-child {
    font-size: 18px;
    margin-bottom: 10px;
}

#footer .footer_l li a {
    line-height: 30px;
}

#footer .footer_l .copy {
    font-size: 12px;
    color: #666;
    position: absolute;
    bottom: -40px;
    left: 0px;
}

#footer .footer_r img {
    width: 100px;
    float: right;
}

#footer .footer_r div {
    margin-top: 110px;
}

#footer .footer_r div a.icon_sina {
    display: inline-block;
    padding: 1px 15px 1px 30px;
    border-right: 1px solid #999;
    margin-right: 15px;
    position: relative;
}

#footer .footer_r div a.icon_sina:before {
    content: "";
    width: 22px;
    height: 22px;
    background: url(../images/icon.png) no-repeat;
    background-position: -100px -100px;
    position: absolute;
    left: 2px;
    top: -1px;
}

#footer .footer_r div a.icon_sina:hover {
    color: #fff;
}

#footer .footer_r div a.icon_sina:hover:before {
    background-position: -400px -100px;
}

#footer .footer_r p {
    text-align: right;
    margin-top: 15px;
    font-size: 16px;
    color: #666;
}