#nav {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 60px;
}

#nav .nav a {
    display: inline-block;
    height: 80px;
    line-height: 80px;
    font-size: 16px;
}

#nav .nav .nav_r a:hover {
    color: #23A96F;
}

#nav .nav .nav_r a.active {
    color: #23A96F;
    border-bottom: 2px solid #23A96F;
}

#nav .nav .nav_r a {
    padding: 0 30px;
}